@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Peralta&display=swap');

/* Layout & Structure */
body {
    background-color: #fcfbfb;
    font-family: "Noto Sans", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

main section {
    text-align: center;
}

/* Header & Navigation */
header {
    background-color: #153B50;
}

nav a {
    text-align: center;
    color: #98B06F;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: black;
    color: #fcfbfb;
}

/* Hero Section */
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

#background {
    height: 750px;
    background-color: #274690;
    margin-bottom: 50px;
}

/* Typography */
h2 {
    margin: 0;
}

h4 {
    color: #462521;
}

.home-title {
    color: #274690;
    font-family: 'Peralta', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

/* Buttons */
.button-box {
    text-align: center;
}

.book, .join {
    background-color: #98B06F;
    color: #462521;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #274690;
    color: #fcfbfb;
}

/* Messages */
.msg {
    background-color: #274690;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 80px;
}

.msg h2 {
    color: #98B06F;
}

.msg p {
    color: #fcfbfb;
    font-size: 0.8em;
    padding: 15px;
}

/* Icons */
.icon {
    width: 80px;
    padding-top: 10px;
}

.logo{
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img{
    border: 5px solid black;
}

/* Footer */
footer {
    background-color: #153B50;
    color: #fcfbfb;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #98B06F;
    text-decoration: none;
}

footer a:hover {
    color: #fcfbfb;
}

footer .social img{
    padding-top: 15px;
}